<h1>Add a new category</h1>


<%= form_with model: @transaction, method: :post, url: entities_path, scope: :transaction do |f| %>

<%= f.hidden_field :author_id, value: current_user.id %>

	<div>
	  <%= f.label :name %><br>
	   <%= f.text_field :name %>
	</div>

	<div>
	  <%= f.label :amount %><br>
	   <%= f.number_field :amount %>
	</div>

	<%= f.fields_for @purchases do |g| %>
	  <%= f.label :group_id %><br>
    <%= f.select :group_id, @categories.collect { |category| [ category.name, category.id ]} %>
  <% end %>
		
	<div>
		<%= f.submit "Save" %>
	</div>
<% end %>

<%= link_to 'Back', authenticated_root_path%>

