<header>
  <span>&#8249;<span>
	<%= link_to 'Back', authenticated_root_path, class: 'back_btn'  %>
</header>
<div class='main'>
	<h1 class='heading'>Add a new transaction</h1>
	<%= form_with model: @transaction, method: :post, url: entities_path, scope: :transaction, class: 'form' do |f| %>
	
		<%= f.hidden_field :author_id, value: current_user.id %>
	
		<div class='field-container'>
			 <%= f.text_field :name,placeholder: 'Transaction Name', class: 'field' %>
		</div>
	
		<div class='field-container'>
		  <%= f.label :amount, class: 'label' %>
			 <%= f.number_field :amount, class: 'field' %>
		</div>
	
	  <div class='field-container'>
			<%= f.fields_for @purchases do |g| %>
				<%= f.label :category, class: 'label' %><br>
				<%= f.select :group_id, @categories.collect { |category| [ category.name, category.id ]} %>
			<% end %>
	  </div>
			
		<div>
			<%= f.submit "Save" %>
		</div>
	<% end %>
</div>


