<header>
  <span>&#8249;<span>
	<%= link_to 'Back', authenticated_root_path, class: 'back_btn'  %>
</header>
<div class='main'>
	<h1 class='heading'>Add a new category</h1>

	<%= form_with model: @category, method: :post, url: user_groups_path(current_user), scope: :category, class: 'form' do |f| %>

		<div class='field-container'>
			 <%= f.text_field :name,  placeholder: "Category Name", class: 'field' %>
		</div>
	
		<div class='field-container'>
			 <%= f.url_field :icon,  placeholder: 'Icon URL', class: 'field' %>
		</div>
			
		<div>
			<%= f.submit "Save" %>
		</div>
	<% end %>
</div>
