<h1>Add a new category</h1>

<%= form_with model: @category, method: :post, url: user_groups_path(current_user), scope: :category do |f| %>


	<div>
	  <%= f.label :name %><br>
	   <%= f.text_field :name %>
	</div>

	<div>
	  <%= f.label :icon %><br>
	   <%= f.url_field :icon %>
	</div>
		
	<div>
		<%= f.submit "Save" %>
	</div>
<% end %>

<%= link_to 'Back', authenticated_root_path%>
