	<%= link_to 'Back', authenticated_root_path %>

<div class='main'>
  <div class='sub_heading'>
		 <p><%= @category.name.capitalize %></p>
		 <p>Total : $<%= @total %></p>
  </div>	
	<ul class='categories_list'>
		<% @purchases.each do |purchase| %>
		<li class='category'>
				<p><%= purchase.entity.name.capitalize %></p>
				<p>$ <%= purchase.entity.amount %></p>
				<p class='date'><%= purchase.created_at.strftime('%d %b %Y')%></p>
		</li>
		<% end %>
	</ul>	
  <div class="footer-button">
		<%= link_to 'Add a new transaction', new_entity_path %>
  </div>
</div>
